<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard do Administrador</title>
  <link href="https://fonts.googleapis.com/css2?family=monoton&display=swap" rel="stylesheet">
  <link href="/styles/dashboard.css" rel="stylesheet" />
</head>
<body>
  <header class="navbar">
    <div class="header-container">
      <h1>Dashboard do Administrador</h1>
      <p class="admin-nome">Bem-vindo, <strong><%= admNome %></strong></p>
      <nav class="menu-centralizado">
        <ul>
          <li><a href="/admin/dashboard">Usuários</a></li>
          <li><a href="/admin/categorias">Categorias</a></li>
          <li><a href="/admin/fotos">Fotos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="dashboard">
      <h2>Usuários</h2>
      <table class="user-table">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% usuarios.forEach(user => { %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.nome %></td>
              <td>
                <select>
                  <option <%= user.tipo === 'ADMIN' ? 'selected' : '' %>>Admin</option>
                  <option <%= user.tipo === 'Usuário' ? 'selected' : '' %>>Usuário</option>
                </select>
              </td>
              <td><button class="delete-btn">Excluir</button></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
  </main>

</body>
</html>
